.jumbotron {
    text-align: center;
    background: #000;
    color: #fff;
}
thead {
    font-weight: bold;
}
tbody td {
    text-align: center;
}

body {
	background-color: #cccccc;
}
footer {
	text-align: center;
	padding: 55px 0 0 0;
	font-weight: bold;
	height: 125px;
}
input {
	width: 100%;
}
h1 {
	color: white;
}
th {
	text-align: center;
}
a {
	color: #000000;
}

#background {
	width: 100%;
	height: 350px;
	margin: 0 0 30px 0;
}
.pageWrapper {
	background-color: #ffffff;
	padding: 0 0 0 0;
	border-radius: 0 0 1% 1%;
}

.panel {
	border-color: #000;
}

.panel-heading {
    background-color: #000;
    color: #fff;
    padding: .5rem;
}

#submit, #addTrain {
	background-color: #557a91;
}
.addTrain button {
   text-align: center;
   
}